<div id="chat" >
  <div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-github-alt"></i> {{username}}</div>
    <div class="panel-body">
        <div class="message__div"> 
          <div  class="message" action="" method="post">
            <textarea name="message"  class="form-control" id="message" disabled="disabled" readonly="readonly" ng-model="mes">
            </textarea>
          </div>
          <div  class="message2" action="" method="post">
            <textarea name="message"  class="form-control" id="message2" disabled="disabled" readonly="readonly">
            </textarea>
          </div>
      </div>
      <div class="div__push">     
        <form class="push" role="form" ng-submit="addchat()">
              <input id="inputmessage" type="text" placeholder="write...." class="form-control" ng-model="chattext">
              <button type="button" class="btn btn-primary" ng-click="addchat()">Submit</button>
        </form>
      </div>
      
    </div>
  </div>
  <div class="div__out" style="text-align:right;margin-bottom:5%;margin-right:2%;">
          <button ng-click="goto()" type="button"  class="btn  btn-success"  role="button">Go to onebyone</button>
          <button ng-click="logOut()" style="width: 18%;
              max-width:18%;" type="button" class="btn_logout btn  btn-danger"  role="button">logOut</button>
  </div>  
</div> 

<!-- <a ng-click="logOut()" class="btn btn-lg btn-success"  role="button">logOut</a> -->
