#chat{
	.panel{
		margin-top:5%; 
	}
	.message__div{
		margin-top:1%;
		margin-bottom:1%; 
		.message {
	     border: none;
	     outline: none;
	     display: inline;
	     	#message {
	     		 display: inline;
			     background: #AFFFB0;
			   	 padding-left:0.5em;
			     margin: auto;
			     font-size: 1em;
			     height: 32em;
			     max-height: 35em;
			     width: 70%;
			     max-width:70%;
			     margin-left:2% 
	 		}
 		}
 		.message2 {
		     border: none;
		     outline: none;
		     display: inline;
		     	#message2 {
		     	 display: inline;
			     background:#FFC991;
			   	 padding-left:0.5em;
			     margin: auto;
			     font-size: 1em;
			     height: 32em;
			     max-height: 35em;
			     width: 25%;
			     max-width:25%;
	 		}
 		}

	}
	.div__push{
	    // display:inline-block;	
		.push{
		 	width: 100%;
			max-width:100%;
	 			#inputmessage{
	 				display:inline;
	 				width: 70%;
					max-width:70%;
					margin-left:2% 
	 			}
	 			.btn{
					display:inline;
					width: 25%;
					max-width:25%;
				}	
	 	}

	} 
	.div__out{
		// display:inline-block;
			.btn{
			 	width: 30%;
				max-width:30%;
		  }	
	} 
	// #chat {
	//   position: fixed; right: 0; bottom: 0;
	//   min-width: 100%; min-height: 100%;
	//   width: auto; height: auto; z-index: -100;
	//   background: url(polina.jpg) no-repeat;
	//   background-size: cover; 
	// }
}

.clock {
	width:100%; 
	margin:0 auto; 
	padding:10px;
	margin-top:10px; 
	// border:1px solid #333; 
	color:#fff; 
}
#Date { 
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
	font-size:36px; 
	text-align:center; 
	text-shadow:0 0 5px #00c6ff; 
}
ul { 
	width:100%; 
	margin:0 auto; 
	padding:0px; 
	list-style:none; 
	text-align:center; 
}
ul li { 
	display:inline; 
	font-size:1em; 
	text-align:center; 
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; 
	text-shadow:0 0 5px #00c6ff;
	width:20%; 
}
.sz{ 
	width:20%; 
	display:block; 
	float:left; 
	height:50px; 
	overflow: hidden;
}
.dt{ 
	width:20%; 
	margin-top:-6px;
}




textarea {
	-moz-box-shadow:1px 1px 0 #E7E7E7;
	-moz-box-sizing:border-box;
	border-color:#CCCCCC #999999 #999999 #CCCCCC;
	border-style:solid;
	border-width:1px;
	font-family:arial,sans-serif;
	font-size:13px;
	height:160px;
	margin:10px auto;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	padding:2px;
	width:100%;
}




